<p id="notice"><%= notice %></p>
<h1>New Post</h1>

<%= form_tag posts_path do%>
    <label> Blogger:</label>
    <%= collection_select(:post, :blogger_id, Blogger.all, :id, :name, prompt: true) %><br>
    <label> Destination:</label>
    <%= collection_select(:post, :destination_id, Destination.all, :id, :name, prompt: true) %><br>
    <label> Title:</label>
    <%= text_field_tag :'post[title]'%><br>
    <label> Content:</label>
    <%= text_area_tag :'post[content]'%><br>

    <input type='submit' value='Submit Coupon'>
<% end %>

